

        
    
:root {
    --bs-body-font-family: 'Poppins', sans-serif;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#cy {
    
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    flex: 1;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center;
    z-index: 50;
    border: 0px solid #ccc;
    box-sizing: border-box;
    
}

.btn-round {
    position: relative;
    width: 70px;
    height: 70px;
    background-color:#495057;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-new {
    position: relative;
    width: 84px;
    height: 84px;
    background-color:#495057;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo del badge (número) */
.badge-number {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color:  #343a40 ;
    color: #dee2e6;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-btn-model {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2000; 
    width: 500px;       
}

.container-btn-table {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2000;        
}

.container-btn-time {
    position: absolute;
    border-radius: 45px;
    bottom: 15px;
    left: 15px;
    z-index: 3000; 
    width: 300px; 
    Height:84px;    
    padding:7px;  
    align-content: center;
}

.container-controls {
    position: absolute;
    border-radius: 45px;
    background-color: #bebebe;
    opacity: .7;
    top: 100px;
    right: 15px;
    z-index: 1900; 
    width: 84px; 
    Height:300px;    
    padding:7px;  
    align-content: center;
}

.container-btn-new {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2000;        
}


.model-name {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 3000;        
}

.offcanvas {
    width: 280px !important; 
    height: 100vh !important; 
    z-index: 3500 !important; 
  }  

.modal {
    z-index: 4000 !important; 
  }  

.offcanvas-backdrop {
    z-index: 3000 !important;
  }

.modal-backdrop {
    z-index: 3550 !important;
  }

.fs-7 {
  font-size: 0.75rem; 
}

.fs-6 {
    font-size: 0.85rem; 
  }

.nav-item {
  font-size: 1rem; 
  line-height: 0.8rem;
}

.nav-link .nav-tabs:hover {
    color: #b8b8b8;
  }


hr {
  opacity: 0.07;
  margin-top: 8px;
  margin-bottom: 8px;
  
}

.form-control-color {
 width: 30px;
 height: 30px;
 padding: 0px;
}

.levels {
    position: absolute;
    border-radius: 25px;
    background-color: #b1b1b1;
    opacity: .7;
    top: 100px;
    right: 25px;
    width: 50px;
    z-index: 1500;     
    padding: 5px;   
}

.btn-level {
    position: relative;
    width: 40px;
    height: 40px;
    background-color:#495057;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-time-control {
margin-top: 5px;
}

.col {
    padding:0px;
    margin: 0px;
}

p {
  margin-bottom: 0px;
}

.row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.form-scroll {
  max-height: 640px;      
  overflow-y: auto;    
}

.nav-tabs .nav-link:not(.active) {
  color: #888; 
}

/* WebKit (Chrome, Safari, Edge) */
.form-range::-webkit-slider-thumb {
  background-color: #000000; 
  border: 1px solid #fff;;
 
}

/* Firefox */
.form-range::-moz-range-thumb {
  background-color: #000000;
  border: 1px;
  border-color:  #888;
}

/* Internet Explorer / Edge */
.form-range::-ms-thumb {
  background-color: #000000;
  border: 1px;
  border-color:  #888e;
}

/* Todos los switches activados (checkeados) */
.form-check-input[type="checkbox"][role="switch"]:checked {
  background-color: #000000; 
  border-color: #000000;
}

/* Color del "thumb" del switch */
.form-check-input[type="checkbox"][role="switch"]:checked::before {
  background-color: white;
}

/* Opcional: switches apagados */
.form-check-input[type="checkbox"][role="switch"] {
  background-color: #dee2e6;
  border-color: #dee2e6;
}

.modal-superxl {
  max-width: 1800px; /* o el ancho que necesites */
}