

        
    
:root {
    --bs-body-font-family: 'Poppins', sans-serif;
    --bs-primary: #00a149; 
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#cy {
    width: 100vw;
    height: 100vh;
}

.btn-round {
    position: relative;
    width: 70px;
    height: 70px;
    background-color:#495057;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-new {
    position: relative;
    width: 84px;
    height: 84px;
    background-color:#495057;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Estilo del badge (número) */
.badge-number {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color:  #343a40 ;
    color: #dee2e6;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-btn-model {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 2000; 
    width: 500px;       
}

.container-btn-outputs {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2000;        
}

.container-btn-time {
    position: absolute;
    border-radius: 45px;
    bottom: 15px;
    left: 15px;
    z-index: 1900; 
    width: 330px; 
    Height:84px;    
    padding:7px;  
    align-content: center;
}

.container-controls {
    position: absolute;
    border-radius: 45px;
    background-color: #bebebe;
    opacity: .7;
    top: 100px;
    right: 15px;
    z-index: 1900; 
    width: 84px; 
    Height:300px;    
    padding:7px;  
    align-content: center;
}

.container-btn-new {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 2000;        
}

.darkmode-container {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 9999;        
}

.model-name {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 9999;        
}

/* Range*/
input[type="range"]::-webkit-slider-thumb {
    background-color: #00a149; /* Color de la bolita en Chrome y Safari */
    border: 2px solid #00a149;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

 input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: #b3b3b3; /* Color de la barra */
  }

 /* checkbox */

.form-check-input {
    appearance: none; /* Elimina el estilo predeterminado */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 1.2em;
    height: 1.2em;
    border-radius: 4px;
    border: 2px solid #aaa;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
    position: relative;
  }
  
  .form-check-input:checked {
    background-color: #00a149 !important; /* Fondo cuando está activado */
    border-color: #00a149 !important;
  }
  
  .form-check-input:checked::before {
    content: "✔"; /* Símbolo check */
    font-size: 14px;
    color: white; /* Color del check */
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .form-check-input:hover {
    background-color: #f0f0f0 !important;
  }
  
  .form-check-input:checked:hover {
    background-color: #00a149 !important;
    border-color: #00a149 !important;
  }
  
  .form-check-input:focus {
    box-shadow: 0 0 5px #00682f !important;
    border-color: #00a149 !important;
    outline: none !important;
  }
  
  .form-check-input:disabled {
    background-color: #bbb !important;
    border-color: #999 !important;
    opacity: 0.5;
    cursor: not-allowed;
  }


.offcanvas {
    width: 300px !important; 
    height: 100vh !important; 
    z-index: 3000 !important; 
  }  

.offcanvas-backdrop {
    z-index: 2500 !important;
  }

